Repository engels74/zondarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-ts, typecheck-py, tests-py, tests-ts

typecheck-ts:
  name: TypeScript Check
  entry: bun --cwd frontend run check
  language: system
  pass_filenames: false
  stages:
  - pre-push

typecheck-py:
  name: Python Type Check (basedpyright)
  entry: bash -c 'cd backend && uv run basedpyright'
  language: system
  pass_filenames: false
  stages:
  - pre-push

tests-py:
  name: Python Tests
  entry: bash -c 'cd backend && uv run pytest'
  language: system
  pass_filenames: false
  stages:
  - pre-push

tests-ts:
  name: Frontend Tests
  entry: bun --cwd frontend test
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat: add Renovate config and code quality CI workflow
  .github/workflows/code-quality.yml
  renovate.json
Due: none

fix: correct uv sync flag and resolve pre-existing lint issues
  .github/workflows/code-quality.yml
  backend/migrations/versions/20260301_0121_879656e4f2f5_initial.py
  backend/src/zondarr/services/auth.py
  backend/src/zondarr/services/totp.py
  backend/tests/test_totp.py
  frontend/src/lib/components/servers/library-sync-results-dialog.svelte
  frontend/src/lib/components/settings/sync-tab.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

fix: use vitest for frontend tests and local Biome binary in hooks
  .github/workflows/code-quality.yml
  .pre-commit-config.yaml
Due: none

fix: update setup wizard tests for 4-step onboarding flow
  frontend/src/lib/components/setup/setup-wizard.svelte.test.ts
Due: typecheck-ts, tests-ts

fix: add @biomejs/biome as frontend devDependency
  frontend/bun.lock
  frontend/package.json
Due: none

fix: resolve pre-existing lint issues and migrate to Biome 2.4.4
  biome.json
  frontend/biome.json
  frontend/src/hooks.server.test.ts
  frontend/src/hooks.server.ts
  frontend/src/lib/api/client.test.ts
  frontend/src/lib/api/types.d.ts
  frontend/src/lib/components/auth/credential-login-form.svelte
  frontend/src/lib/components/auth/oauth-login-button.svelte
  frontend/src/lib/components/auth/totp-code-input.svelte
  frontend/src/lib/components/dashboard/recent-activity.svelte
  frontend/src/lib/components/error-boundary.svelte.test.ts
  frontend/src/lib/components/invitations/invitation-form-simple.svelte
  frontend/src/lib/components/join/oauth-join-flow.svelte
  frontend/src/lib/components/logs/log-detail-panel.svelte
  frontend/src/lib/components/logs/log-entry.svelte
  frontend/src/lib/components/logs/log-toolbar.svelte
  frontend/src/lib/components/settings/account-tab.svelte
  frontend/src/lib/components/settings/totp-regenerate-dialog.svelte
  frontend/src/lib/components/settings/totp-setup-dialog.svelte
  frontend/src/lib/components/setup/step-totp.svelte
  frontend/src/lib/components/ui/button/button.svelte
  frontend/src/lib/components/wizard/interactions/timer-interaction.svelte
  frontend/src/lib/components/wizard/markdown-editor.svelte
  frontend/src/lib/components/wizard/wizard-shell.svelte
  frontend/src/lib/schemas/join.test.ts
  frontend/src/routes/(admin)/dashboard/+page.svelte
  frontend/src/routes/(admin)/dashboard/+page.ts
  frontend/src/routes/(admin)/invitations/[id]/+page.svelte
  frontend/src/routes/(admin)/servers/[id]/+page.svelte
  frontend/src/routes/(admin)/servers/[id]/+page.ts
  frontend/src/routes/(public)/join/[code]/+page.svelte
  frontend/src/routes/(public)/join/[code]/join-page-test-wrapper.svelte
  frontend/src/routes/api/[...path]/+server.ts
  frontend/src/routes/api/[...path]/server.test.ts
Due: typecheck-ts, tests-ts

fix: remove trailing whitespace in TOTP svelte files
  frontend/src/lib/components/settings/totp-setup-dialog.svelte
  frontend/src/lib/components/setup/step-totp.svelte
Due: typecheck-ts, tests-ts

chore: bump @biomejs/biome minimum version to ^2.4.4
  frontend/package.json
Due: none

fix: remove deprecated @types/dompurify and fix optional chaining type errors
  frontend/bun.lock
  frontend/package.json
  frontend/src/routes/(public)/join/[code]/+page.svelte
  frontend/src/routes/(public)/join/[code]/join-page-test-wrapper.svelte
Due: typecheck-ts, tests-ts

fix: remove deprecated @types/dompurify and fix optional chaining type errors (#96)
  frontend/bun.lock
  frontend/package.json
  frontend/src/routes/(public)/join/[code]/+page.svelte
  frontend/src/routes/(public)/join/[code]/join-page-test-wrapper.svelte
Due: typecheck-ts, tests-ts

refactor: consolidate wizard markdown rendering and improve UI/UX
  frontend/src/lib/components/wizard/__tests__/sanitization.property.test.ts
  frontend/src/lib/components/wizard/markdown-editor.svelte
  frontend/src/lib/components/wizard/markdown-utils.ts
  frontend/src/lib/components/wizard/wizard-shell.svelte
Due: typecheck-ts, tests-ts

Address review comments from PR #97
  frontend/src/lib/components/wizard/__tests__/sanitization.property.test.ts
  frontend/src/lib/components/wizard/markdown-editor.svelte
  frontend/src/lib/components/wizard/wizard-shell.svelte
Due: typecheck-ts, tests-ts

refactor: consolidate wizard markdown rendering and improve UI/UX (#97)
  frontend/src/lib/components/wizard/__tests__/sanitization.property.test.ts
  frontend/src/lib/components/wizard/markdown-editor.svelte
  frontend/src/lib/components/wizard/markdown-utils.ts
  frontend/src/lib/components/wizard/wizard-shell.svelte
Due: typecheck-ts, tests-ts

ci: validate complete workflow before rollout
  .github/workflows/ci.yml
Due: none

ci: restore standard triggers after hosted validation
  .github/workflows/ci.yml
Due: none

refactor: align Bun frontend production commands
  .github/scripts/smoke.py
  README.md
  frontend/package.json
Due: none

chore: migrate application CI and namespace
  .github/workflows/biome-repair.yml
  .github/workflows/ci.yml
  CI.md
  README.md
  renovate.json
Due: none

ci: enable checked unattended Renovate updates
  .github/merge-policy.json
  .github/workflows/ci.yml
  .github/workflows/merge.yml
  CI.md
  renovate.json
Due: none

ci: enable checked unattended Renovate updates (#211)
  .github/merge-policy.json
  .github/workflows/ci.yml
  .github/workflows/merge.yml
  CI.md
  renovate.json
Due: none

Path conditions:
  typecheck-ts: any of: ^frontend/.*\.(ts|svelte)$
  typecheck-py: any of: ^backend/(src|tests)/.*\.py$
  tests-py: any of: ^backend/(src|tests)/.*\.py$
  tests-ts: any of: ^frontend/.*\.(ts|svelte)$
