Repository engels74/zondarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-ts, typecheck-py, tests-py, tests-ts

typecheck-ts:
  name: TypeScript Check
  entry: bun --cwd frontend run check
  language: system
  pass_filenames: false
  stages:
  - pre-push

typecheck-py:
  name: Python Type Check (basedpyright)
  entry: bash -c 'cd backend && uv run basedpyright'
  language: system
  pass_filenames: false
  stages:
  - pre-push

tests-py:
  name: Python Tests
  entry: bash -c 'cd backend && uv run pytest'
  language: system
  pass_filenames: false
  stages:
  - pre-push

tests-ts:
  name: Frontend Tests
  entry: bun --cwd frontend test
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(docker): resolve CORS blocking via SvelteKit API proxy (#65)
  .env.example
  backend/src/zondarr/core/csrf.py
  backend/tests/test_csrf_middleware.py
  frontend/src/hooks.server.ts
  frontend/src/routes/api/[...path]/+server.ts
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

fix(setup): resolve onboarding flow skipped on clean Docker run
  frontend/src/lib/api/auth.ts
  frontend/src/routes/api/[...path]/+server.ts
Due: typecheck-ts, tests-ts

fix(setup): resolve onboarding flow skipped on clean Docker run (#66)
  frontend/src/lib/api/auth.ts
  frontend/src/routes/api/[...path]/+server.ts
Due: typecheck-ts, tests-ts

Address review comments from PR #68
  frontend/src/routes/api/[...path]/+server.ts
  frontend/vitest-setup.ts
Due: typecheck-ts, tests-ts

fix(csrf): preserve Origin and Referer headers in SvelteKit API proxy (#68)
  backend/src/zondarr/api/settings.py
  backend/tests/test_settings_controller.py
  frontend/src/routes/api/[...path]/+server.test.ts
  frontend/src/routes/api/[...path]/+server.ts
  frontend/vitest-setup.ts
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

fix(frontend): rename API proxy route test for SvelteKit build (#69)
  frontend/src/routes/api/[...path]/server.test.ts
Due: typecheck-ts, tests-ts

fix: reorder setup so csrf is configured before server setup
  frontend/src/lib/components/setup/setup-wizard.svelte
  frontend/src/lib/components/setup/setup-wizard.svelte.test.ts
  frontend/src/lib/components/setup/step-csrf.svelte
  frontend/src/lib/components/setup/step-server.svelte
Due: typecheck-ts, tests-ts

fix(setup): skip to dashboard when CSRF step is skipped
  frontend/src/lib/components/setup/setup-wizard.svelte
Due: typecheck-ts, tests-ts

Address review comments from PR #71
  frontend/src/lib/api/auth.ts
  frontend/src/lib/components/setup/setup-wizard.svelte
  frontend/src/lib/components/setup/setup-wizard.svelte.test.ts
Due: typecheck-ts, tests-ts

fix(api): resolve invitation max_uses race condition with atomic reservation
  backend/migrations/versions/20260228_1200_add_invitation_use_count_check.py
  backend/src/zondarr/api/errors.py
  backend/src/zondarr/api/join.py
  backend/src/zondarr/app.py
  backend/src/zondarr/core/exceptions.py
  backend/src/zondarr/models/invitation.py
  backend/src/zondarr/repositories/invitation.py
  backend/src/zondarr/services/invitation.py
  backend/src/zondarr/services/redemption.py
  backend/tests/property/test_invitation_flow_props.py
  backend/tests/property/test_migration_props.py
  backend/tests/property/test_redemption_props.py
  backend/tests/property/test_repo_props.py
Due: typecheck-py, tests-py

fix(types): resolve basedpyright warnings across repositories and tests
  backend/src/zondarr/media/providers/jellyfin/client.py
  backend/src/zondarr/repositories/invitation.py
  backend/src/zondarr/repositories/sync_exclusion.py
  backend/tests/property/test_plex_client_props.py
Due: typecheck-py, tests-py

chore: remove SDD requirement references from test describe blocks
  frontend/src/routes/(public)/join/[code]/join-page-wizard.svelte.test.ts
Due: typecheck-ts, tests-ts

feat: add admin settings page with tabbed UI
  backend/src/zondarr/api/auth.py
  backend/src/zondarr/api/schemas.py
  backend/src/zondarr/api/settings.py
  backend/src/zondarr/services/auth.py
  backend/src/zondarr/services/settings.py
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/components/settings/about-tab.svelte
  frontend/src/lib/components/settings/account-tab.svelte
  frontend/src/lib/components/settings/general-tab.svelte
  frontend/src/lib/components/settings/sync-tab.svelte
  frontend/src/lib/components/ui/tabs/index.ts
  frontend/src/lib/components/ui/tabs/tabs-content.svelte
  frontend/src/lib/components/ui/tabs/tabs-list.svelte
  frontend/src/lib/components/ui/tabs/tabs-trigger.svelte
  frontend/src/lib/components/ui/tabs/tabs.svelte
  frontend/src/lib/schemas/settings.ts
  frontend/src/routes/(admin)/+layout.svelte
  frontend/src/routes/(admin)/settings/+page.svelte
  frontend/src/routes/(admin)/settings/+page.ts
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

Enforce sequential step completion with signed progress tokens
  backend/src/zondarr/api/schemas.py
  backend/src/zondarr/api/wizards.py
  backend/src/zondarr/core/wizard_token.py
  backend/src/zondarr/services/wizard.py
  frontend/src/lib/api/types.d.ts
  frontend/src/lib/components/wizard/wizard-shell.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

Fix wizard bypass vulnerability with HMAC-signed completion tokens (#75)
  backend/src/zondarr/api/join.py
  backend/src/zondarr/api/schemas.py
  backend/src/zondarr/api/wizards.py
  backend/src/zondarr/core/wizard_token.py
  backend/src/zondarr/services/redemption.py
  backend/src/zondarr/services/wizard.py
  frontend/src/lib/api/types.d.ts
  frontend/src/lib/components/settings/account-tab.svelte
  frontend/src/lib/components/settings/general-tab.svelte
  frontend/src/lib/components/settings/sync-tab.svelte
  frontend/src/lib/components/wizard/wizard-shell.svelte
  frontend/src/routes/(public)/join/[code]/+page.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

Redesign logs page for improved usability and performance
  frontend/src/lib/components/logs/log-detail-panel.svelte
  frontend/src/lib/components/logs/log-entry.svelte
  frontend/src/lib/components/logs/log-toolbar.svelte
  frontend/src/lib/components/logs/log-viewer.svelte
Due: typecheck-ts, tests-ts

Remove redundant sync description text from server detail page
  frontend/src/routes/(admin)/servers/[id]/+page.svelte
Due: typecheck-ts, tests-ts

Fix logs page crash during sidebar navigation (#78)
  frontend/src/lib/components/logs/log-toolbar.svelte
Due: typecheck-ts, tests-ts

Address review comments from PR #79
  backend/migrations/versions/20260228_1538_51d23bb57699_initial.py
  backend/src/zondarr/models/sync_run.py
Due: typecheck-py, tests-py

Rebalance Docker env var defaults vs UI-configurable settings
  .env.example
  backend/src/zondarr/api/auth.py
  backend/src/zondarr/api/schemas.py
  backend/src/zondarr/api/servers.py
  backend/src/zondarr/api/settings.py
  backend/src/zondarr/services/settings.py
  frontend/src/lib/api/client.ts
  frontend/src/lib/components/settings/general-tab.svelte
  frontend/src/routes/(admin)/servers/[id]/+page.svelte
  frontend/src/routes/(admin)/servers/[id]/+page.ts
  frontend/src/routes/(admin)/settings/+page.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

Address review comments from PR #80
  backend/tests/test_credential_locks.py
  frontend/src/lib/components/settings/general-tab.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

Rebalance Docker env var defaults vs UI-configurable settings (#80)
  .env.example
  backend/src/zondarr/api/auth.py
  backend/src/zondarr/api/schemas.py
  backend/src/zondarr/api/servers.py
  backend/src/zondarr/api/settings.py
  backend/src/zondarr/services/settings.py
  backend/tests/test_credential_locks.py
  frontend/src/lib/api/client.ts
  frontend/src/lib/components/settings/general-tab.svelte
  frontend/src/routes/(admin)/servers/[id]/+page.svelte
  frontend/src/routes/(admin)/servers/[id]/+page.ts
  frontend/src/routes/(admin)/settings/+page.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

Add TOTP API endpoints, login flow integration, and lint cleanup
  backend/migrations/versions/20260228_1800_a1b2c3d4e5f6_add_totp_rate_limit_columns.py
  backend/src/zondarr/api/auth.py
  backend/src/zondarr/api/schemas.py
  backend/src/zondarr/api/settings.py
  backend/src/zondarr/api/totp.py
  backend/src/zondarr/app.py
  backend/src/zondarr/core/auth.py
  backend/src/zondarr/core/wizard_token.py
  backend/src/zondarr/media/providers/plex/client.py
  backend/src/zondarr/models/admin.py
  backend/src/zondarr/services/auth.py
  backend/src/zondarr/services/redemption.py
  backend/src/zondarr/services/settings.py
  backend/src/zondarr/services/totp.py
  backend/src/zondarr/services/wizard.py
  backend/tests/property/test_redemption_props.py
  backend/tests/test_credential_locks.py
  backend/tests/test_dashboard_controller.py
  backend/tests/test_onboarding_service.py
  backend/tests/test_totp.py
  frontend/src/lib/api/auth.ts
  frontend/src/lib/components/auth/totp-code-input.svelte
  frontend/src/lib/components/auth/totp-verify-step.svelte
  frontend/src/lib/components/settings/totp-disable-dialog.svelte
  frontend/src/lib/components/settings/totp-regenerate-dialog.svelte
  frontend/src/lib/components/settings/totp-setup-dialog.svelte
  frontend/src/lib/schemas/auth.ts
  frontend/src/routes/(auth)/login/+page.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

Add optional TOTP two-factor authentication for admin users (#81)
  backend/migrations/versions/20260228_1742_6103f5e16ff6_add_totp_fields_to_admin_accounts.py
  backend/migrations/versions/20260228_1800_a1b2c3d4e5f6_add_totp_rate_limit_columns.py
  backend/pyproject.toml
  backend/src/zondarr/api/auth.py
  backend/src/zondarr/api/schemas.py
  backend/src/zondarr/api/settings.py
  backend/src/zondarr/api/totp.py
  backend/src/zondarr/app.py
  backend/src/zondarr/core/auth.py
  backend/src/zondarr/core/wizard_token.py
  backend/src/zondarr/media/providers/plex/client.py
  backend/src/zondarr/models/admin.py
  backend/src/zondarr/services/auth.py
  backend/src/zondarr/services/redemption.py
  backend/src/zondarr/services/settings.py
  backend/src/zondarr/services/totp.py
  backend/src/zondarr/services/totp_encryption.py
  backend/src/zondarr/services/wizard.py
  backend/tests/property/test_redemption_props.py
  backend/tests/test_credential_locks.py
  backend/tests/test_dashboard_controller.py
  backend/tests/test_onboarding_service.py
  backend/tests/test_totp.py
  backend/uv.lock
  frontend/src/lib/api/auth.ts
  frontend/src/lib/components/auth/totp-code-input.svelte
  frontend/src/lib/components/auth/totp-verify-step.svelte
  frontend/src/lib/components/settings/account-tab.svelte
  frontend/src/lib/components/settings/backup-codes-display.svelte
  frontend/src/lib/components/settings/totp-disable-dialog.svelte
  frontend/src/lib/components/settings/totp-management-card.svelte
  frontend/src/lib/components/settings/totp-regenerate-dialog.svelte
  frontend/src/lib/components/settings/totp-setup-dialog.svelte
  frontend/src/lib/components/setup/setup-wizard.svelte
  frontend/src/lib/components/setup/step-totp.svelte
  frontend/src/lib/schemas/auth.ts
  frontend/src/routes/(auth)/login/+page.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

Fix TOTP QR code generation ValueError from invalid segno color values (#82)
  backend/src/zondarr/services/totp.py
Due: typecheck-py, tests-py

Fix TOTP rate limit TypeError from naive/aware datetime comparison (#83)
  backend/src/zondarr/services/totp.py
  backend/tests/test_totp.py
Due: typecheck-py, tests-py

Address review comments from PR #84
  backend/tests/test_totp.py
  frontend/src/lib/api/auth.ts
  frontend/src/lib/components/auth/credential-login-form.svelte
  frontend/src/lib/components/auth/oauth-login-button.svelte
  frontend/src/routes/(auth)/login/+page.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

Fix TOTP two-factor authentication bypass in external login (#84)
  backend/src/zondarr/api/auth.py
  backend/tests/test_totp.py
  frontend/src/lib/api/auth.ts
  frontend/src/lib/components/auth/credential-login-form.svelte
  frontend/src/lib/components/auth/oauth-login-button.svelte
  frontend/src/routes/(auth)/login/+page.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

Reset Alembic migrations to single initial migration
  backend/migrations/versions/20260228_1742_6103f5e16ff6_add_totp_fields_to_admin_accounts.py
  backend/migrations/versions/20260228_1800_a1b2c3d4e5f6_add_totp_rate_limit_columns.py
  backend/migrations/versions/20260301_0121_879656e4f2f5_initial.py
Due: none

Reset Alembic migrations to single initial migration (#86)
  backend/migrations/versions/20260228_1742_6103f5e16ff6_add_totp_fields_to_admin_accounts.py
  backend/migrations/versions/20260228_1800_a1b2c3d4e5f6_add_totp_rate_limit_columns.py
  backend/migrations/versions/20260301_0121_879656e4f2f5_initial.py
Due: none

Fix user sync not triggered during server onboarding
  backend/src/zondarr/api/servers.py
Due: typecheck-py, tests-py

Address review comments from PR #88
  backend/src/zondarr/api/servers.py
Due: typecheck-py, tests-py

Fix user sync not triggered during server onboarding (#88)
  backend/src/zondarr/api/servers.py
Due: typecheck-py, tests-py

feat: auto-enable secure cookies when CSRF origin is HTTPS
  backend/src/zondarr/api/schemas.py
  backend/src/zondarr/api/settings.py
  backend/src/zondarr/services/settings.py
  backend/tests/test_settings_controller.py
  backend/tests/test_settings_service.py
  frontend/src/lib/api/client.ts
  frontend/src/lib/components/settings/general-tab.svelte
  frontend/src/lib/components/setup/step-csrf.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

feat: auto-enable secure cookies when CSRF origin is HTTPS (#90)
  backend/src/zondarr/api/schemas.py
  backend/src/zondarr/api/settings.py
  backend/src/zondarr/services/settings.py
  backend/tests/test_settings_controller.py
  backend/tests/test_settings_service.py
  frontend/src/lib/api/client.ts
  frontend/src/lib/components/settings/general-tab.svelte
  frontend/src/lib/components/setup/step-csrf.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

fix: prevent refresh token replay via atomic token consumption
  backend/src/zondarr/api/auth.py
  backend/src/zondarr/repositories/admin.py
  backend/src/zondarr/services/auth.py
  backend/tests/test_refresh_token_replay.py
Due: typecheck-py, tests-py

Fix replay-triggered token revocations being rolled back
  backend/src/zondarr/services/auth.py
Due: typecheck-py, tests-py

Fix refresh token replay via rotation race (#91)
  backend/src/zondarr/api/auth.py
  backend/src/zondarr/repositories/admin.py
  backend/src/zondarr/services/auth.py
  backend/tests/test_refresh_token_replay.py
Due: typecheck-py, tests-py

Path conditions:
  typecheck-ts: any of: ^frontend/.*\.(ts|svelte)$
  typecheck-py: any of: ^backend/(src|tests)/.*\.py$
  tests-py: any of: ^backend/(src|tests)/.*\.py$
  tests-ts: any of: ^frontend/.*\.(ts|svelte)$
