Repository engels74/zondarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-ts, typecheck-py, tests-py, tests-ts

typecheck-ts:
  name: TypeScript Check
  entry: bun --cwd frontend run check
  language: system
  pass_filenames: false
  stages:
  - pre-push

typecheck-py:
  name: Python Type Check (basedpyright)
  entry: bash -c 'cd backend && uv run basedpyright'
  language: system
  pass_filenames: false
  stages:
  - pre-push

tests-py:
  name: Python Tests
  entry: bash -c 'cd backend && uv run pytest'
  language: system
  pass_filenames: false
  stages:
  - pre-push

tests-ts:
  name: Frontend Tests
  entry: bun --cwd frontend test
  language: system
  pass_filenames: false
  stages:
  - pre-push

Fix wizard interaction type serialization and related issues (#36)
  backend/src/zondarr/api/converters.py
  backend/src/zondarr/core/database.py
  backend/src/zondarr/core/tasks.py
  frontend/src/lib/components/users/user-list.svelte.test.ts
  frontend/src/lib/components/wizard/interactions/click-interaction.svelte
  frontend/src/lib/components/wizard/interactions/quiz-interaction.svelte
  frontend/src/lib/components/wizard/interactions/registry.ts
  frontend/src/lib/components/wizard/interactions/text-input-interaction.svelte
  frontend/src/lib/components/wizard/interactions/timer-interaction.svelte
  frontend/src/lib/components/wizard/interactions/tos-interaction.svelte
  frontend/src/lib/components/wizard/wizard-builder.svelte
  frontend/src/lib/components/wizard/wizard-shell.svelte
  frontend/src/lib/schemas/wizard.ts
  frontend/src/routes/(admin)/wizards/[id]/+page.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

Fix invitation onboarding layout gap and quiz validation timing
  frontend/src/lib/components/wizard/__tests__/interactions.test.ts
  frontend/src/lib/components/wizard/interactions/quiz-interaction.svelte
  frontend/src/lib/components/wizard/interactions/registry.ts
  frontend/src/lib/components/wizard/wizard-shell.svelte
  frontend/src/routes/(public)/join/[code]/+page.svelte
Due: typecheck-ts, tests-ts

Address review comments from PR #38
  frontend/src/lib/components/wizard/interactions/quiz-interaction.svelte
  frontend/src/lib/components/wizard/interactions/registry.ts
  frontend/src/lib/components/wizard/wizard-shell.svelte
Due: typecheck-ts, tests-ts

Fix join page layout: restore heading, fix spacing, and center content
  frontend/src/lib/components/wizard/wizard-navigation.svelte
  frontend/src/lib/components/wizard/wizard-shell.svelte
  frontend/src/routes/(public)/+layout.svelte
  frontend/src/routes/(public)/join/[code]/+page.svelte
Due: typecheck-ts, tests-ts

docs: replace 'bun test' with 'bun run test' in CLAUDE.md
  CLAUDE.md
Due: none

Address review comments from PR #39
  frontend/src/lib/components/wizard/wizard-shell.svelte
Due: typecheck-ts, tests-ts

Fix Plex OAuth join flow username validation and popup auto-close
  frontend/src/lib/components/join/oauth-join-flow.svelte
  frontend/src/lib/components/join/oauth-join-flow.svelte.test.ts
  frontend/src/lib/schemas/join.test.ts
  frontend/src/lib/schemas/join.ts
  frontend/src/routes/(public)/join/[code]/+page.svelte
Due: typecheck-ts, tests-ts

Address review comments from PR #41
  frontend/src/lib/components/join/oauth-join-flow.svelte
  frontend/src/routes/(public)/join/[code]/+page.svelte
Due: typecheck-ts, tests-ts

Fix Plex OAuth join flow username validation and popup auto-close (#41)
  frontend/src/lib/components/join/oauth-join-flow.svelte
  frontend/src/lib/components/join/oauth-join-flow.svelte.test.ts
  frontend/src/lib/schemas/join.test.ts
  frontend/src/lib/schemas/join.ts
  frontend/src/routes/(public)/join/[code]/+page.svelte
Due: typecheck-ts, tests-ts

Address review comments from PR #42
  backend/src/zondarr/media/providers/plex/client.py
  frontend/src/lib/components/join/oauth-join-flow.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

Fix Plex invitation: direct library sharing and server URL (#42)
  backend/src/zondarr/api/join.py
  backend/src/zondarr/api/schemas.py
  backend/src/zondarr/media/protocol.py
  backend/src/zondarr/media/providers/jellyfin/client.py
  backend/src/zondarr/media/providers/plex/client.py
  backend/src/zondarr/services/redemption.py
  backend/tests/property/test_redemption_props.py
  frontend/src/lib/api/types.d.ts
  frontend/src/lib/components/join/oauth-join-flow.svelte
  frontend/src/lib/components/join/oauth-join-flow.svelte.test.ts
  frontend/src/lib/components/join/success-page.svelte
  frontend/src/routes/(public)/join/[code]/+page.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

Fix Plex invite: remove silent friend fallback, add pending invite cleanup
  backend/src/zondarr/media/providers/plex/client.py
  backend/tests/property/test_plex_client_props.py
Due: typecheck-py, tests-py

Fix Plex invite: remove silent friend fallback, add pending invite cleanup (#43)
  backend/src/zondarr/media/providers/plex/client.py
  backend/tests/property/test_plex_client_props.py
Due: typecheck-py, tests-py

Fix duplicate user entries after invitation redemption (#44)
  backend/migrations/versions/20260222_1200_0002_add_unique_constraint_external_user_server.py
  backend/src/zondarr/models/identity.py
  backend/src/zondarr/repositories/user.py
  backend/src/zondarr/services/redemption.py
  backend/src/zondarr/services/sync.py
  backend/src/zondarr/services/user.py
  backend/tests/property/test_dedup_props.py
Due: typecheck-py, tests-py

Wire up user row action buttons and remove stub toasts
  frontend/src/lib/components/invitations/invitation-row.svelte
  frontend/src/lib/components/users/user-row.svelte
  frontend/src/routes/(admin)/users/+page.svelte
Due: typecheck-ts, tests-ts

Fix SSE log stream 404 by using API base URL (#49)
  frontend/src/lib/stores/log-stream.svelte.ts
Due: typecheck-ts, tests-ts

chore(docs): remove AI docs
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

chore(docs): add AI coding guidelines (CLAUDE.md, AGENTS.md, GEMINI.md)
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

fix(security): harden CSRF, docs exposure, and API key leakage
  backend/src/zondarr/api/schemas.py
  backend/src/zondarr/api/servers.py
  backend/src/zondarr/core/auth.py
  backend/src/zondarr/core/csrf.py
  backend/tests/test_csrf_middleware.py
  backend/tests/test_env_credentials.py
  frontend/src/lib/api/client.ts
  frontend/src/lib/components/servers/create-server-dialog.svelte
  frontend/src/lib/components/setup/step-server.svelte
  frontend/src/lib/schemas/server.ts
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

Address review comments from PR #51
  frontend/src/lib/components/logs/log-viewer.svelte
  frontend/src/lib/stores/log-stream.svelte.ts
Due: typecheck-ts, tests-ts

fix(wizard): prevent Add Option from resetting quiz editor state
  frontend/src/lib/components/wizard/interactions/config-editors/quiz-config-editor.svelte
  frontend/src/lib/components/wizard/interactions/config-editors/text-input-config-editor.svelte
Due: typecheck-ts, tests-ts

fix(wizard): prevent Add Option from resetting quiz editor state (#52)
  frontend/src/lib/components/wizard/interactions/config-editors/quiz-config-editor.svelte
  frontend/src/lib/components/wizard/interactions/config-editors/text-input-config-editor.svelte
Due: typecheck-ts, tests-ts

fix(logs): restore HTTP access logs in web UI and fix SSE client bugs (#53)
  backend/src/zondarr/core/log_buffer.py
  frontend/src/lib/stores/log-stream.svelte.ts
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

fix(wizard): allow clicks through sticky nav to Timer Continue button
  frontend/src/lib/components/wizard/wizard-navigation.svelte
Due: typecheck-ts, tests-ts

Address review comments from PR #55
  frontend/src/lib/components/wizard/wizard-navigation.svelte
Due: typecheck-ts, tests-ts

test(wizard): add coverage for quiz valid+pending onValidate path
  frontend/src/lib/components/wizard/__tests__/interactions.test.ts
Due: typecheck-ts, tests-ts

fix(api): prevent quiz answer and internal URL leakage in public validation endpoint
  backend/src/zondarr/api/converters.py
  backend/src/zondarr/api/invitations.py
  backend/src/zondarr/api/schemas.py
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/types.d.ts
  frontend/src/lib/components/join/success-page.svelte
  frontend/src/routes/(public)/join/[code]/+page.svelte
  frontend/src/routes/(public)/join/[code]/join-page-test-wrapper.svelte
  frontend/src/routes/(public)/join/[code]/join-page-wizard.svelte.test.ts
  frontend/src/routes/(public)/join/[code]/join-page.svelte.test.ts
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

fix(types): use httpx.Response type instead of object in test helper
  backend/tests/test_invitation_validation_endpoint.py
Due: typecheck-py, tests-py

refactor(typing): modernize type safety patterns across backend
  backend/src/zondarr/api/logs.py
  backend/src/zondarr/core/auth.py
  backend/src/zondarr/core/log_buffer.py
  backend/src/zondarr/services/interactions/registry.py
Due: typecheck-py, tests-py

Address review comments from PR #59
  backend/src/zondarr/services/interactions/registry.py
Due: typecheck-py, tests-py

fix(frontend): correct user type descriptions for Plex's overlapping model
  frontend/src/routes/(admin)/users/+page.svelte
  frontend/src/routes/(admin)/users/[id]/+page.svelte
Due: typecheck-ts, tests-ts

Address review comments from PR #61
  backend/src/zondarr/media/providers/plex/client.py
  backend/src/zondarr/services/sync.py
Due: typecheck-py, tests-py

fix(wizard): resolve stale steps after preview exit and duplicate quiz error messages
  frontend/src/lib/components/wizard/wizard-shell.svelte
  frontend/src/routes/(admin)/wizards/[id]/+page.svelte
Due: typecheck-ts, tests-ts

fix(wizard): ensure data refresh completes before exiting preview mode
  frontend/src/routes/(admin)/wizards/[id]/+page.svelte
Due: typecheck-ts, tests-ts

fix(wizard): resolve stale steps after preview exit and duplicate quiz error messages (#62)
  frontend/src/lib/components/wizard/wizard-shell.svelte
  frontend/src/routes/(admin)/wizards/[id]/+page.svelte
Due: typecheck-ts, tests-ts

Address review comments from PR #63
  backend/src/zondarr/media/providers/plex/client.py
  backend/src/zondarr/services/user.py
Due: typecheck-py, tests-py

Address review comments from PR #63
  backend/migrations/versions/20260226_2102_4dc4ed3ab54b_add_sync_exclusions_table.py
  backend/src/zondarr/api/users.py
  backend/src/zondarr/models/sync_exclusion.py
  backend/src/zondarr/services/user.py
Due: typecheck-py, tests-py

fix(login): show retry state when backend is unavailable during startup
  frontend/src/lib/api/client.test.ts
  frontend/src/lib/api/errors.ts
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/login/+page.ts
Due: typecheck-ts, tests-ts

Address review comments from PR #64
  frontend/src/routes/(auth)/login/+page.svelte
  frontend/src/routes/(auth)/login/+page.ts
Due: typecheck-ts, tests-ts

Fix SSR_API_URL fallback to http://localhost:8000 in hooks.server.ts
  frontend/src/hooks.server.ts
Due: typecheck-ts, tests-ts

Path conditions:
  typecheck-ts: any of: ^frontend/.*\.(ts|svelte)$
  typecheck-py: any of: ^backend/(src|tests)/.*\.py$
  tests-py: any of: ^backend/(src|tests)/.*\.py$
  tests-ts: any of: ^frontend/.*\.(ts|svelte)$
