Repository engels74/zondarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-ts, typecheck-py, tests-py, tests-ts

typecheck-ts:
  name: TypeScript Check
  entry: bun --cwd frontend run check
  language: system
  pass_filenames: false
  stages:
  - pre-push

typecheck-py:
  name: Python Type Check (basedpyright)
  entry: bash -c 'cd backend && uv run basedpyright'
  language: system
  pass_filenames: false
  stages:
  - pre-push

tests-py:
  name: Python Tests
  entry: bash -c 'cd backend && uv run pytest'
  language: system
  pass_filenames: false
  stages:
  - pre-push

tests-ts:
  name: Frontend Tests
  entry: bun --cwd frontend test
  language: system
  pass_filenames: false
  stages:
  - pre-push

refactor: colocate clients with providers and unify OAuth flow
  backend/src/zondarr/api/oauth.py
  backend/src/zondarr/app.py
  backend/src/zondarr/media/clients/__init__.py
  backend/src/zondarr/media/clients/jellyfin.py
  backend/src/zondarr/media/clients/plex.py
  backend/src/zondarr/media/provider.py
  backend/src/zondarr/media/providers/__init__.py
  backend/src/zondarr/media/providers/jellyfin/__init__.py
  backend/src/zondarr/media/providers/jellyfin/client.py
  backend/src/zondarr/media/providers/plex/__init__.py
  backend/src/zondarr/media/providers/plex/client.py
  backend/src/zondarr/media/registry.py
  backend/src/zondarr/media/types.py
  backend/src/zondarr/services/redemption.py
  backend/tests/property/test_plex_client_props.py
  backend/tests/property/test_redemption_props.py
  backend/tests/property/test_registry_props.py
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/types.d.ts
  frontend/src/lib/components/join/oauth-join-flow.svelte.test.ts
  frontend/src/routes/(public)/join/[code]/+page.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

fix: address code review findings in provider-agnostic auth
  backend/src/zondarr/api/oauth.py
  backend/src/zondarr/api/schemas.py
  backend/src/zondarr/media/providers/jellyfin/__init__.py
  backend/src/zondarr/media/providers/jellyfin/auth.py
  backend/src/zondarr/media/providers/plex/auth.py
  backend/src/zondarr/media/registry.py
Due: typecheck-py, tests-py

fix: filter error classification keywords from Hypothesis strategy
  backend/tests/property/test_plex_client_props.py
Due: typecheck-py, tests-py

fix: prevent SSRF in Jellyfin auth by using configured server URL
  backend/src/zondarr/media/providers/jellyfin/__init__.py
  backend/src/zondarr/media/providers/jellyfin/auth.py
  backend/src/zondarr/services/auth.py
Due: typecheck-py, tests-py

fix: resolve 9 E2E bugs found during manual testing
  backend/src/zondarr/api/schemas.py
  backend/src/zondarr/repositories/wizard_step.py
  frontend/src/hooks.server.ts
  frontend/src/lib/components/servers/server-card.svelte
  frontend/src/lib/schemas/wizard.ts
  frontend/src/routes/(admin)/invitations/+page.svelte
  frontend/src/routes/(admin)/servers/[id]/+page.svelte
  frontend/src/routes/(auth)/login/+page.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

Fix E2E bugs found during manual testing (#21)
  backend/src/zondarr/api/schemas.py
  backend/src/zondarr/api/users.py
  backend/src/zondarr/repositories/wizard_step.py
  frontend/src/hooks.server.ts
  frontend/src/lib/components/servers/server-card.svelte
  frontend/src/lib/components/servers/server-card.svelte.test.ts
  frontend/src/lib/schemas/wizard.ts
  frontend/src/routes/(admin)/invitations/+page.svelte
  frontend/src/routes/(admin)/servers/[id]/+page.svelte
  frontend/src/routes/(auth)/login/+page.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

feat: add test connection with auto-detection of media server type
  backend/src/zondarr/api/schemas.py
  backend/src/zondarr/api/servers.py
  backend/src/zondarr/media/protocol.py
  backend/src/zondarr/media/providers/jellyfin/client.py
  backend/src/zondarr/media/providers/plex/client.py
  backend/src/zondarr/media/types.py
  backend/src/zondarr/services/media_server.py
  frontend/src/lib/api/client.ts
  frontend/src/lib/components/servers/create-server-dialog.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

Address review comments from PR #23
  backend/src/zondarr/api/servers.py
  backend/src/zondarr/services/media_server.py
  frontend/src/lib/components/servers/create-server-dialog.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

docs: Delete AI agent guidance markdown files.
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

Address review comments from PR #24
  frontend/src/hooks.server.ts
Due: typecheck-ts, tests-ts

Add --skip-auth flag to dev CLI for bypassing authentication (#24)
  backend/src/zondarr/app.py
  backend/src/zondarr/config.py
  backend/src/zondarr/core/auth.py
  dev_cli/cli.py
  dev_cli/output.py
  dev_cli/runner.py
  dev_cli/tests/test_cli.py
  frontend/src/hooks.server.ts
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

refactor: composable wizard interactions with registry pattern
  backend/migrations/versions/20260214_0001_006_step_interactions.py
  backend/src/zondarr/api/invitations.py
  backend/src/zondarr/api/schemas.py
  backend/src/zondarr/api/wizards.py
  backend/src/zondarr/models/__init__.py
  backend/src/zondarr/models/wizard.py
  backend/src/zondarr/repositories/step_interaction.py
  backend/src/zondarr/services/interactions/__init__.py
  backend/src/zondarr/services/interactions/handlers.py
  backend/src/zondarr/services/interactions/protocol.py
  backend/src/zondarr/services/interactions/registry.py
  backend/src/zondarr/services/wizard.py
  backend/tests/property/test_plex_client_props.py
  backend/tests/property/test_wizard_props.py
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/types.d.ts
  frontend/src/lib/components/ui/switch/index.ts
  frontend/src/lib/components/ui/switch/switch.svelte
  frontend/src/lib/components/wizard/__tests__/interactions.test.ts
  frontend/src/lib/components/wizard/index.ts
  frontend/src/lib/components/wizard/interactions/click-interaction.svelte
  frontend/src/lib/components/wizard/interactions/config-editors/click-config-editor.svelte
  frontend/src/lib/components/wizard/interactions/config-editors/quiz-config-editor.svelte
  frontend/src/lib/components/wizard/interactions/config-editors/text-input-config-editor.svelte
  frontend/src/lib/components/wizard/interactions/config-editors/timer-config-editor.svelte
  frontend/src/lib/components/wizard/interactions/config-editors/tos-config-editor.svelte
  frontend/src/lib/components/wizard/interactions/index.ts
  frontend/src/lib/components/wizard/interactions/quiz-interaction.svelte
  frontend/src/lib/components/wizard/interactions/register-defaults.ts
  frontend/src/lib/components/wizard/interactions/registry.ts
  frontend/src/lib/components/wizard/interactions/text-input-interaction.svelte
  frontend/src/lib/components/wizard/interactions/timer-interaction.svelte
  frontend/src/lib/components/wizard/interactions/tos-interaction.svelte
  frontend/src/lib/components/wizard/step-editor.svelte
  frontend/src/lib/components/wizard/wizard-builder.svelte
  frontend/src/lib/components/wizard/wizard-shell.svelte
  frontend/src/lib/schemas/wizard.ts
  frontend/src/routes/(admin)/wizards/[id]/+page.svelte
  frontend/src/routes/(public)/join/[code]/+page.svelte
  frontend/src/routes/(public)/join/[code]/join-page-wizard.svelte.test.ts
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

fix: replace hardcoded HSL values, native inputs, unused props, and duplicated CSS in wizard interactions
  frontend/src/app.css
  frontend/src/lib/components/ui/radio-group/index.ts
  frontend/src/lib/components/ui/radio-group/radio-group-item.svelte
  frontend/src/lib/components/ui/radio-group/radio-group.svelte
  frontend/src/lib/components/wizard/__tests__/interactions.test.ts
  frontend/src/lib/components/wizard/interactions/click-interaction.svelte
  frontend/src/lib/components/wizard/interactions/config-editors/click-config-editor.svelte
  frontend/src/lib/components/wizard/interactions/config-editors/quiz-config-editor.svelte
  frontend/src/lib/components/wizard/interactions/config-editors/text-input-config-editor.svelte
  frontend/src/lib/components/wizard/interactions/config-editors/timer-config-editor.svelte
  frontend/src/lib/components/wizard/interactions/config-editors/tos-config-editor.svelte
  frontend/src/lib/components/wizard/interactions/quiz-interaction.svelte
  frontend/src/lib/components/wizard/interactions/registry.ts
  frontend/src/lib/components/wizard/interactions/text-input-interaction.svelte
  frontend/src/lib/components/wizard/interactions/timer-interaction.svelte
  frontend/src/lib/components/wizard/interactions/tos-interaction.svelte
  frontend/src/lib/components/wizard/wizard-builder.svelte
  frontend/src/lib/components/wizard/wizard-shell.svelte
Due: typecheck-ts, tests-ts

fix: address coding guidelines audit findings for wizard interactions
  backend/src/zondarr/api/converters.py
  backend/src/zondarr/services/interactions/protocol.py
  frontend/src/lib/components/wizard/interactions/click-interaction.svelte
  frontend/src/lib/components/wizard/interactions/config-editors/click-config-editor.svelte
  frontend/src/lib/components/wizard/interactions/config-editors/quiz-config-editor.svelte
  frontend/src/lib/components/wizard/interactions/config-editors/text-input-config-editor.svelte
  frontend/src/lib/components/wizard/interactions/config-editors/timer-config-editor.svelte
  frontend/src/lib/components/wizard/interactions/config-editors/tos-config-editor.svelte
  frontend/src/lib/components/wizard/interactions/quiz-interaction.svelte
  frontend/src/lib/components/wizard/interactions/text-input-interaction.svelte
  frontend/src/lib/components/wizard/interactions/timer-interaction.svelte
  frontend/src/lib/components/wizard/interactions/tos-interaction.svelte
  frontend/src/lib/components/wizard/step-editor.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

refactor: centralize wizard CSS variables, debounce config persist, and remove dead code
  frontend/src/app.css
  frontend/src/lib/components/wizard/interactions/click-interaction.svelte
  frontend/src/lib/components/wizard/interactions/quiz-interaction.svelte
  frontend/src/lib/components/wizard/interactions/text-input-interaction.svelte
  frontend/src/lib/components/wizard/interactions/timer-interaction.svelte
  frontend/src/lib/components/wizard/interactions/tos-interaction.svelte
  frontend/src/lib/components/wizard/step-editor.svelte
  frontend/src/lib/components/wizard/wizard-builder.svelte
  frontend/src/lib/components/wizard/wizard-shell.svelte
  frontend/src/lib/schemas/wizard.ts
Due: typecheck-ts, tests-ts

fix: enforce server-side interaction set validation and handle PG JSON in migration
  backend/migrations/versions/20260214_0001_006_step_interactions.py
  backend/src/zondarr/services/wizard.py
Due: typecheck-py, tests-py

Isolate servers fetch failure from invitations loading
  frontend/src/routes/(admin)/invitations/+page.ts
Due: typecheck-ts, tests-ts

Audit frontend for type safety, env conventions, and dead code removal (#26)
  .env.example
  CLAUDE.md
  dev_cli/runner.py
  frontend/bun.lock
  frontend/package.json
  frontend/src/hooks.server.ts
  frontend/src/lib/api/auth.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/components/invitations/create-invitation-dialog.svelte
  frontend/src/lib/components/servers/create-server-dialog.svelte
  frontend/src/lib/components/ui/form/form-button.svelte
  frontend/src/lib/components/ui/form/form-description.svelte
  frontend/src/lib/components/ui/form/form-element-field.svelte
  frontend/src/lib/components/ui/form/form-field-errors.svelte
  frontend/src/lib/components/ui/form/form-field.svelte
  frontend/src/lib/components/ui/form/form-fieldset.svelte
  frontend/src/lib/components/ui/form/form-label.svelte
  frontend/src/lib/components/ui/form/form-legend.svelte
  frontend/src/lib/components/ui/form/index.ts
  frontend/src/lib/components/users/user-permissions-editor.svelte
  frontend/src/lib/components/wizard/wizard-builder.svelte
  frontend/src/lib/utils/toast.ts
  frontend/src/routes/(admin)/invitations/+page.svelte
  frontend/src/routes/(admin)/invitations/+page.ts
  frontend/src/routes/(admin)/invitations/[id]/+page.svelte
  frontend/src/routes/(admin)/invitations/[id]/+page.ts
  frontend/src/routes/(admin)/servers/+page.ts
  frontend/src/routes/(admin)/servers/[id]/+page.svelte
  frontend/src/routes/(admin)/servers/[id]/+page.ts
  frontend/src/routes/(admin)/users/+page.ts
  frontend/src/routes/(admin)/users/[id]/+page.svelte
  frontend/src/routes/(admin)/users/[id]/+page.ts
  frontend/src/routes/(admin)/wizards/+page.ts
  frontend/src/routes/(admin)/wizards/[id]/+page.ts
  frontend/src/routes/(public)/join/[code]/+page.ts
  frontend/src/routes/+page.svelte
  frontend/vitest-setup.ts
Due: typecheck-ts, tests-ts

Refactor datetime sync from $effect to oninput and remove unused adapter-auto
  frontend/bun.lock
  frontend/package.json
  frontend/src/lib/components/invitations/invitation-form-simple.svelte
  frontend/src/routes/(admin)/invitations/[id]/+page.svelte
Due: typecheck-ts, tests-ts

Add missing PageData type annotation to login page props
  frontend/src/routes/(auth)/login/+page.svelte
Due: typecheck-ts, tests-ts

Consolidate 6 incremental migrations into single initial migration (#28)
  backend/migrations/versions/20260201_0001_001_initial_foundation.py
  backend/migrations/versions/20260203_0001_002_wizard_system.py
  backend/migrations/versions/20260206_0001_003_add_user_invitation_id_and_indexes.py
  backend/migrations/versions/20260208_2244_18295ce7ef76_admin_auth.py
  backend/migrations/versions/20260212_2121_47df78392c60_widen_auth_method_column.py
  backend/migrations/versions/20260214_0001_006_step_interactions.py
  backend/migrations/versions/20260214_1627_0001_initial.py
Due: none

chore: update project configuration and dependencies.
  backend/pyproject.toml
Due: none

Optimize cold-start time with lazy imports and SSR bypass (#29)
  backend/pyproject.toml
  backend/src/zondarr/media/providers/jellyfin/__init__.py
  backend/src/zondarr/media/providers/jellyfin/client.py
  backend/src/zondarr/media/providers/plex/auth.py
  frontend/src/hooks.server.ts
  frontend/src/routes/+layout.server.ts
  frontend/src/routes/+layout.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

Fix Add Server dialog: require connection test before submit, default to Plex
  frontend/src/lib/components/servers/create-server-dialog.svelte
Due: typecheck-ts, tests-ts

Address review comments from PR #30
  frontend/src/lib/components/servers/create-server-dialog.svelte
Due: typecheck-ts, tests-ts

Address review comments from PR #31
  backend/src/zondarr/api/servers.py
  frontend/src/lib/components/servers/create-server-dialog.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

Add environment credentials auto-detection for media server setup (#31)
  backend/src/zondarr/api/schemas.py
  backend/src/zondarr/api/servers.py
  backend/tests/test_env_credentials.py
  frontend/src/lib/api/client.ts
  frontend/src/lib/components/servers/create-server-dialog.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

Fix create-server dialog reset on mount and improve layout
  frontend/src/lib/components/servers/create-server-dialog.svelte
Due: typecheck-ts, tests-ts

Fix wizard step creation 500 error and auth except syntax
  backend/src/zondarr/core/auth.py
  backend/src/zondarr/services/wizard.py
Due: typecheck-py, tests-py

Fix flaky test_masked_key_format caused by registry mock pollution
  backend/tests/test_env_credentials.py
Due: typecheck-py, tests-py

Refactor: update exception handling syntax for multiple exceptions.
  backend/src/zondarr/core/auth.py
Due: typecheck-py, tests-py

Address review comments from PR #34
  backend/tests/property/test_wizard_props.py
Due: typecheck-py, tests-py

Fix wizard step creation 500 error and flaky registry test (#34)
  backend/src/zondarr/services/wizard.py
  backend/tests/property/test_wizard_props.py
  backend/tests/test_env_credentials.py
Due: typecheck-py, tests-py

Fix wizard interaction serialization causing 500 errors
  backend/src/zondarr/api/converters.py
Due: typecheck-py, tests-py

feat: Restore wizard interaction states when navigating back by passing completion data to components and adjusting schema nullability.
  frontend/src/lib/components/wizard/interactions/click-interaction.svelte
  frontend/src/lib/components/wizard/interactions/quiz-interaction.svelte
  frontend/src/lib/components/wizard/interactions/registry.ts
  frontend/src/lib/components/wizard/interactions/text-input-interaction.svelte
  frontend/src/lib/components/wizard/interactions/timer-interaction.svelte
  frontend/src/lib/components/wizard/interactions/tos-interaction.svelte
  frontend/src/lib/components/wizard/wizard-shell.svelte
  frontend/src/lib/schemas/wizard.ts
Due: typecheck-ts, tests-ts

Fix flaky user sort property test by increasing timeout to 15s
  frontend/src/lib/components/users/user-list.svelte.test.ts
Due: typecheck-ts, tests-ts

Fix SQLite deadlock, sessionStorage pollution, and wizard layout overflow
  backend/src/zondarr/core/database.py
  backend/src/zondarr/core/tasks.py
  frontend/src/lib/components/wizard/wizard-shell.svelte
  frontend/src/routes/(admin)/wizards/[id]/+page.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

Fix stale validation error persisting after wizard interaction re-submission
  frontend/src/lib/components/wizard/wizard-shell.svelte
Due: typecheck-ts, tests-ts

Fix wizard preview rendering empty when steps modified without page reload
  frontend/src/lib/components/wizard/wizard-builder.svelte
  frontend/src/routes/(admin)/wizards/[id]/+page.svelte
Due: typecheck-ts, tests-ts

Path conditions:
  typecheck-ts: any of: ^frontend/.*\.(ts|svelte)$
  typecheck-py: any of: ^backend/(src|tests)/.*\.py$
  tests-py: any of: ^backend/(src|tests)/.*\.py$
  tests-ts: any of: ^frontend/.*\.(ts|svelte)$
