Repository engels74/zondarr: changes, and which pre-commit hooks are due for each by the changed paths.
All: typecheck-ts, typecheck-py, tests-py, tests-ts

typecheck-ts:
  name: TypeScript Check
  entry: bun --cwd frontend run check
  language: system
  pass_filenames: false
  stages:
  - pre-push

typecheck-py:
  name: Python Type Check (basedpyright)
  entry: bash -c 'cd backend && uv run basedpyright'
  language: system
  pass_filenames: false
  stages:
  - pre-push

tests-py:
  name: Python Tests
  entry: bash -c 'cd backend && uv run pytest'
  language: system
  pass_filenames: false
  stages:
  - pre-push

tests-ts:
  name: Frontend Tests
  entry: bun --cwd frontend test
  language: system
  pass_filenames: false
  stages:
  - pre-push

perf: optimize test suite by reusing DB engines across Hypothesis examples
  backend/tests/property/test_error_props.py
  backend/tests/property/test_redemption_props.py
  backend/tests/property/test_user_controller_props.py
Due: typecheck-py, tests-py

feat: add dev-cli launcher for unified local development
  dev-cli/__main__.py
  dev-cli/output.py
  dev-cli/preflight.py
  dev-cli/runner.py
Due: none

docs: rewrite CLAUDE.md with comprehensive project guidance
  CLAUDE.md
Due: none

feat: Add new AI agent guidance files for AGENTS and GEMINI, and modify the CLAUDE guidance.
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Due: none

feat: add .env.example file with example environment variable configurations
  .env.example
Due: none

feat: Introduce CORS configuration and add user invitation ID column with performance indexes to the users table.
  .env.example
  backend/migrations/versions/20260206_0001_003_add_user_invitation_id_and_indexes.py
  backend/pyproject.toml
  backend/src/zondarr/app.py
  backend/src/zondarr/config.py
  dev_cli/runner.py
Due: typecheck-py, tests-py

feat: Introduce CORS configuration and add user invitation ID column with performance indexes to the users table.
  .env.example
  backend/migrations/versions/20260206_0001_003_add_user_invitation_id_and_indexes.py
  backend/pyproject.toml
  backend/src/zondarr/app.py
  backend/src/zondarr/config.py
  backend/zondarr.db
  dev_cli/runner.py
Due: typecheck-py, tests-py

fix: return proper HTTP status codes for undefined routes and eliminate SvelteKit window.fetch warnings
  backend/src/zondarr/api/errors.py
  backend/src/zondarr/app.py
  frontend/src/lib/api/client.ts
  frontend/src/routes/(admin)/invitations/+page.ts
  frontend/src/routes/(admin)/invitations/[id]/+page.ts
  frontend/src/routes/(admin)/servers/+page.ts
  frontend/src/routes/(admin)/servers/[id]/+page.ts
  frontend/src/routes/(admin)/users/+page.ts
  frontend/src/routes/(admin)/users/[id]/+page.ts
  frontend/src/routes/(admin)/wizards/+page.ts
  frontend/src/routes/(admin)/wizards/[id]/+page.ts
  frontend/src/routes/(public)/join/[code]/+page.ts
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

fix: resolve frontend lint warnings, unused imports, and Svelte 5 binding issues
  frontend/src/lib/components/error-boundary.svelte.test.ts
  frontend/src/lib/components/invitations/invitation-list.svelte.test.ts
  frontend/src/lib/components/join/jellyfin-registration-form.svelte
  frontend/src/lib/components/wizard/markdown-editor.svelte
  frontend/src/lib/components/wizard/step-editor.svelte
  frontend/src/lib/components/wizard/wizard-builder.svelte
  frontend/src/lib/schemas/join.test.ts
  frontend/src/lib/utils.ts
Due: typecheck-ts, tests-ts

feat: add environment variable overrides for media server credentials
  .env.example
  backend/src/zondarr/app.py
  backend/src/zondarr/config.py
  backend/src/zondarr/media/registry.py
  backend/src/zondarr/services/media_server.py
  backend/src/zondarr/services/redemption.py
  backend/src/zondarr/services/sync.py
  backend/src/zondarr/services/user.py
  backend/tests/property/test_config_props.py
  backend/tests/property/test_redemption_props.py
  backend/tests/property/test_registry_props.py
  backend/tests/property/test_sync_props.py
  backend/tests/property/test_user_service_props.py
Due: typecheck-py, tests-py

feat: add env var overrides for media server credentials (#1)
  .env.example
  .pre-commit-config.yaml
  backend/src/zondarr/app.py
  backend/src/zondarr/config.py
  backend/src/zondarr/media/registry.py
  backend/src/zondarr/services/media_server.py
  backend/src/zondarr/services/redemption.py
  backend/src/zondarr/services/sync.py
  backend/src/zondarr/services/user.py
  backend/tests/property/test_config_props.py
  backend/tests/property/test_redemption_props.py
  backend/tests/property/test_registry_props.py
  backend/tests/property/test_sync_props.py
  backend/tests/property/test_user_service_props.py
Due: typecheck-py, tests-py

feat: add zondarr-logo.svg to public assets
  public/zondarr-logo.svg
Due: none

fix: resolve all basedpyright warnings in auth system (26 → 0)
  backend/migrations/versions/20260208_2244_18295ce7ef76_admin_auth.py
  backend/src/zondarr/core/auth.py
  backend/src/zondarr/models/admin.py
  backend/src/zondarr/repositories/admin.py
  backend/src/zondarr/services/auth.py
Due: typecheck-py, tests-py

chore: upgrade granian 2.7.0 → 2.7.1
  backend/uv.lock
Due: none

feat: auto-run Alembic migrations in dev_cli preflight
  dev_cli/preflight.py
Due: none

Address review comments from PR #3 (#4)
  backend/src/zondarr/api/auth.py
  backend/src/zondarr/config.py
  backend/src/zondarr/services/auth.py
Due: typecheck-py, tests-py

fix: use CSS variables for UnoCSS cr-* colors to enable theme switching
  frontend/src/app.css
  frontend/uno.config.ts
Due: typecheck-ts, tests-ts

Address review comments from PR #5
  dev_cli/preflight.py
  dev_cli/runner.py
Due: none

feat(dev_cli): add hot reload, mode-aware banner, and cascade shutdown
  backend/pyproject.toml
  backend/uv.lock
  dev_cli/cli.py
  dev_cli/output.py
  dev_cli/preflight.py
  dev_cli/runner.py
Due: none

Address review comments from PR #6
  dev_cli/preflight.py
  dev_cli/runner.py
Due: none

Improve dev_cli reliability, shutdown, and DX (#6)
  backend/pyproject.toml
  backend/uv.lock
  dev_cli/cli.py
  dev_cli/output.py
  dev_cli/preflight.py
  dev_cli/runner.py
Due: none

fix: handle unreachable backend in login/setup page loaders
  frontend/src/routes/(auth)/login/+page.ts
  frontend/src/routes/(auth)/setup/+page.ts
Due: typecheck-ts, tests-ts

Address review comments from PR #7
  frontend/src/routes/(auth)/login/+page.ts
  frontend/src/routes/(auth)/setup/+page.ts
Due: typecheck-ts, tests-ts

fix: handle unreachable backend in login/setup page loaders (#7)
  frontend/src/routes/(auth)/login/+page.ts
  frontend/src/routes/(auth)/setup/+page.ts
Due: typecheck-ts, tests-ts

fix: remove duplicate CSS reset that broke button background styling
  frontend/src/app.css
Due: none

Address review comments from PR #9
  frontend/src/lib/api/client.ts
  frontend/src/routes/(admin)/wizards/+page.ts
  frontend/src/routes/(admin)/wizards/[id]/+page.ts
Due: typecheck-ts, tests-ts

fix: handle wizard step enum serialization and invitation lazy-load errors
  backend/src/zondarr/api/invitations.py
  backend/src/zondarr/api/wizards.py
  backend/src/zondarr/services/invitation.py
Due: typecheck-py, tests-py

fix: handle wizard step enum serialization and invitation lazy-load errors (#10)
  backend/src/zondarr/api/invitations.py
  backend/src/zondarr/api/wizards.py
  backend/src/zondarr/services/invitation.py
Due: typecheck-py, tests-py

perf: optimize dev_cli startup with parallel processes and fast migration check
  dev_cli/preflight.py
  dev_cli/runner.py
Due: none

feat: integrate Zondarr logo into sidebar, header, and favicon
  frontend/src/lib/assets/favicon.svg
  frontend/src/routes/(admin)/+layout.svelte
  frontend/src/routes/(public)/+layout.svelte
  frontend/src/routes/+layout.svelte
Due: typecheck-ts, tests-ts

feat: integrate Zondarr logo into sidebar, header, and favicon (#13)
  frontend/src/lib/assets/favicon.svg
  frontend/src/routes/(admin)/+layout.svelte
  frontend/src/routes/(public)/+layout.svelte
  frontend/src/routes/+layout.svelte
Due: typecheck-ts, tests-ts

feat: add `stop` subcommand to dev_cli
  .gitignore
  CLAUDE.md
  dev_cli/__main__.py
  dev_cli/cli.py
  dev_cli/pidfile.py
  dev_cli/runner.py
  dev_cli/stop.py
  dev_cli/tests/__init__.py
  dev_cli/tests/test_cli.py
  dev_cli/tests/test_pidfile.py
  dev_cli/tests/test_stop.py
Due: none

fix: sync libraries on server creation and in background task
  backend/src/zondarr/api/servers.py
  backend/src/zondarr/core/tasks.py
Due: typecheck-py, tests-py

feat: import orphaned users during server sync
  backend/src/zondarr/api/schemas.py
  backend/src/zondarr/api/servers.py
  backend/src/zondarr/core/tasks.py
  backend/src/zondarr/services/sync.py
  backend/tests/property/test_sync_props.py
  frontend/src/lib/api/client.ts
  frontend/src/lib/components/servers/sync-results-dialog.svelte
  frontend/src/lib/components/servers/sync-results-dialog.svelte.test.ts
  frontend/src/routes/(admin)/servers/[id]/+page.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

fix: show only supported permission toggles per server type (#18)
  frontend/src/lib/components/users/user-permissions-editor.svelte
  frontend/src/routes/(admin)/users/[id]/+page.svelte
Due: typecheck-ts, tests-ts

refactor: remove hardcoded enums and colocate Plex OAuth with provider
  backend/src/zondarr/api/__init__.py
  backend/src/zondarr/api/plex_oauth.py
  backend/src/zondarr/api/schemas.py
  backend/src/zondarr/config.py
  backend/src/zondarr/media/providers/jellyfin/auth.py
  backend/src/zondarr/media/providers/jellyfin/schemas.py
  backend/src/zondarr/media/providers/plex/auth.py
  backend/src/zondarr/media/providers/plex/controller.py
  backend/src/zondarr/media/providers/plex/oauth.py
  backend/src/zondarr/media/providers/plex/oauth_service.py
  backend/src/zondarr/media/providers/plex/schemas.py
  backend/src/zondarr/media/registry.py
  backend/src/zondarr/models/__init__.py
  backend/src/zondarr/models/admin.py
  backend/src/zondarr/models/media_server.py
  backend/src/zondarr/services/__init__.py
  backend/src/zondarr/services/auth.py
  backend/tests/property/test_config_props.py
  backend/tests/property/test_migration_props.py
  backend/tests/property/test_models_props.py
  backend/tests/property/test_plex_oauth_controller_props.py
  backend/tests/property/test_plex_oauth_props.py
  backend/tests/property/test_redemption_props.py
  backend/tests/property/test_registry_props.py
  backend/tests/property/test_repo_props.py
  backend/tests/property/test_service_props.py
  backend/tests/property/test_sync_props.py
  backend/tests/property/test_user_controller_props.py
  backend/tests/property/test_user_service_props.py
  frontend/src/lib/api/client.ts
  frontend/src/lib/components/join/oauth-join-flow.svelte
  frontend/src/lib/components/join/oauth-join-flow.svelte.test.ts
  frontend/src/lib/components/join/success-page.svelte
  frontend/src/lib/components/servers/create-server-dialog.svelte
  frontend/src/routes/(public)/join/[code]/+page.svelte
Due: typecheck-ts, typecheck-py, tests-py, tests-ts

Path conditions:
  typecheck-ts: any of: ^frontend/.*\.(ts|svelte)$
  typecheck-py: any of: ^backend/(src|tests)/.*\.py$
  tests-py: any of: ^backend/(src|tests)/.*\.py$
  tests-ts: any of: ^frontend/.*\.(ts|svelte)$
